body{
    background-color: #2f2d5f;
    color: white;
}
#navbar{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-right: 20px;
          }
 #movies{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        margin-top: 20px;
        margin: 10px;
        
          }
#movies>div{
    background-color: white;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#movies>div>img{
    border-radius: 10px;
}
#movies>div>button{
   padding: 10px;
   border-radius: 10px;
   color: white;
   background-color:#7938ea;
}
#movies>div>h2{
    color: black;
}
 #search_bar{
     border: 1px solid black;
     text-align: center;
     width: 30%;
     margin: auto;
     border-radius: 20px;
     height: 40px;
     background-color: white;

     
 }         
 #search_bar>input{
     font-size: 25px;
     border: none;
     padding: 5px;
 }